* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #F5F3F0;
    color: #231F20;
}

@font-face {
    font-family: "Pangram";
    src: url("../fonts/Pangram/Pangram-Regular.ttf") format("truetype"),
        url("../fonts/Pangram/Pangram-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NeueWorld";
    src: url("../fonts/NeueWorld/NeueWorld-ExtendedMedium.ttf") format("truetype");
}

/* --------------------------------
                HOME
 ---------------------------------*/


ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 2.5em 2em 0 2em;
}

.menu {
    flex-direction: column;
}

li {
    padding: 1px 0 0.5em 0;
}

li a {
    font-family: "Pangram",
        sans-serif;
    text-decoration: none;
    font-size: clamp(1rem, 4vw, 3rem);
    color: #231F20;

}

h2 {
    font-size: 3.5em;
    font-family: "NeueWorld", sans-serif;
    font-weight: 100;
}

.title {
    margin-top: 4em;
}

.blur {
    margin: 3em 0 0 5em;
    width: 80%;
    height: 40vh;
    background-color: #3F54F5;
    border-radius: 50%;
    filter: blur(3em);
    z-index: 0;
}

.meKop {
    position: absolute;
    left: 10em;
    top: 20%;
    width: 70%;
    z-index: 10;
}

/* --------------------------------
                WORK
 ---------------------------------*/


.caseTitle a,
.caseDes p {
    display: flex;
    justify-content: center;
    align-items: space-between;
    text-decoration: none;
    color: #231F20;
}

.caseTitle {
    font-size: 1.875em;
}

.container {
    margin: 2.8em;
}

p {
    font-family: "Pangram", sans-serif;
    font-weight: 100;
    font-size: 0.75em;
}

/* --------------------------------
                CASES
 ---------------------------------*/
/* --------------------------------
                ABOUT
 ---------------------------------*/
/* --------------------------------
                CONTACT
 ---------------------------------*/
/* --------------------------------
                RESPONSIVE
 ---------------------------------*/

/* @media screen (min-width: 30em) {
     
 }
 @media screen (min-width: 48em) {
     
 } */


/* hover effect */
.joannie {
    --deltax: 2;
    --deltay: 3;
    --scale: 0.25;
    --richting: 1;
    --rotatie: 2.5;
    --duur: 1.5;

    --width: 2.2;
    --height: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: calc(var(--width) * 0.8em);
    height: calc(var(--height) * 0.8em);
    left: calc(var(--posx) * 1px - var(--width) * 0.5em + var(--deltax) * -1em);

    font-size: 2.5em;
    /* border-radius: 50%; */
    z-index: 2;

    transform-origin: center 50%;
    animation: draai calc(var(--duur) * 1s) ease-out forwards,
        opneer calc(var(--duur) * 1s) forwards;
}

@keyframes draai {
    0% {
        transform: rotate(0turn) translatex(calc(var(--deltax) * 1em)) rotate(0turn);
    }

    100% {
        transform: rotate(calc(var(--richting) * 0.5turn)) translatex(calc(var(--deltax) * 1em)) rotate(calc(var(--rotatie) * 1turn));
    }
}

@keyframes opneer {
    0% {
        opacity: 1;
        top: calc(var(--posy) * 1px - (var(--width) + 0.125) * 1em);
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    }

    30% {
        top: calc(var(--posy) * 1px - (var(--width) + 0.125) * 1em - var(--deltay) * 1em);
        opacity: 1;
        animation-timing-function: ease-in;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}
