* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #F5F3F0;
    color: #25292C;
}



@font-face {
    font-family: "NeueWorld";
    src: url("../fonts/NeueWorld/NeueWorld-ExtendedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "Pangram";
    src: url("../fonts/Pangram/Pangram-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Pangram";
    src: url("../fonts/Pangram/Pangram-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Object-Sans";
    src: url("../fonts/Pangram/ObjectSans-thin.ttf") format("truetype");
}
/* --------------------------------
                HOME
 ---------------------------------*/
nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 2em 2em;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    list-style-type: none;
}


li {
    padding: 1px 0 0.5em 0;

}

nav a {
    font-family: "Pangram",
        sans-serif;
    text-decoration: none;
    font-size: clamp(1rem, 4vw, 3rem);
    color: #25292C;
    cursor: pointer;

}

h2 {
    font-size: 3.5em;
    font-family: "NeueWorld", sans-serif;
    font-weight: 100;
}

section.hero {
    display: flex;
    flex-direction: column;
}


.meKop>img {
    width: 70%;
    margin-left: 10em;
}

/* --------------------------------
                WORK
 ---------------------------------*/

/* section.wrapper {
    margin-top: 3em;
} */

main{
    margin-top: 3em;
}
h1 {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Object-sans", sans-serif;
    font-weight: 100;
    font-size: 4em;
    color: #D1CBC2;

}
h2 a {
    text-decoration: none;
    cursor: pointer;
    color:#25292C;
    font-size: 0.7em;
    line-height: 12pt;
}

h3 {
    font-family: "Object-sans", sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    color: #D1CBC2;

}

.case {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #EFEDEA;
    flex-direction: column;
    margin: 1.5em 0;

}

.caseDes {
    flex-direction: column;
    justify-content: space-around;
    margin: 2.5em ;
    width:50%;
}

p {
    font-family: "Pangram", sans-serif;
    font-weight: 100;
    font-size: 0.75em;
}

.casePic {
    width: 80%;
    margin-left: 1.5em;
 
}

/* --------------------------------
                CASES
 ---------------------------------*/
/* --------------------------------
                ABOUT
 ---------------------------------*/
/* --------------------------------
                CONTACT
 ---------------------------------*/
/* --------------------------------
                RESPONSIVE
 ---------------------------------*/

/* @media screen (min-width: 30em) {
     
 }
 @media screen (min-width: 48em) {
     
 } */


/* hover effect */
.joannie {
    --deltax: 2;
    --deltay: 3;
    --scale: 0.25;
    --richting: 1;
    --rotatie: 2.5;
    --duur: 1.5;

    --width: 2.2;
    --height: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: calc(var(--width) * 0.8em);
    height: calc(var(--height) * 0.8em);
    left: calc(var(--posx) * 1px - var(--width) * 0.5em + var(--deltax) * -1em);

    font-size: 2.5em;
    /* border-radius: 50%; */
    z-index: 2;

    transform-origin: center 50%;
    animation: draai calc(var(--duur) * 1s) ease-out forwards,
        opneer calc(var(--duur) * 1s) forwards;
}

@keyframes draai {
    0% {
        transform: rotate(0turn) translatex(calc(var(--deltax) * 1em)) rotate(0turn);
    }

    100% {
        transform: rotate(calc(var(--richting) * 0.5turn)) translatex(calc(var(--deltax) * 1em)) rotate(calc(var(--rotatie) * 1turn));
    }
}

@keyframes opneer {
    0% {
        opacity: 1;
        top: calc(var(--posy) * 1px - (var(--width) + 0.125) * 1em);
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    }

    30% {
        top: calc(var(--posy) * 1px - (var(--width) + 0.125) * 1em - var(--deltay) * 1em);
        opacity: 1;
        animation-timing-function: ease-in;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}