* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #F5F3F0;
    color: #25292C;
}

@font-face {
    font-family: "NeueWorld";
    src: url("../fonts/NeueWorld/NeueWorld-ExtendedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "Pangram";
    src: url("../fonts/Pangram/Pangram-ExtraLight.ttf") format("truetype"),
}

@font-face {
    font-family: "Pangram";
    src: url("../fonts/Pangram/Pangram-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Object-Sans";
    src: url("../fonts/Pangram/ObjectSans-thin.ttf") format("truetype");
}
@font-face {
    font-family: "Object-Sans";
    src: url("../fonts/ObjectSans/ObjectSans-Regular.ttf") format("truetype");

}
/* --------------------------------
                HOME
 ---------------------------------*/
nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 2em 2em;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    list-style-type: none;
}


li {
    padding: 1px 0 0.5em 0;

}

nav a,
.launchTitle a {
    font-family: "Pangram",
        sans-serif;
    text-decoration: none;
    font-size: clamp(1rem, 4vw, 3rem);
    color: #25292C;
    cursor: pointer;

}

h2 {
    font-size: 3.5em;
    font-family: "NeueWorld", sans-serif;
    font-weight: 100;
}

section.hero {
    display: flex;
    flex-direction: column;
}

.launchTitle {
    display: flex;
    flex-direction: column;
    z-index: 100;
    align-items: flex-end;
    padding-right: 1em;
    margin-top: 2em;
}

.hero {
    position: relative;
}

.meKop {
    width: 70%;
    margin-left: -3em;
    z-index: 10;
}

.blur {
    position: absolute;
    width: 60vw;
    height: 30vh;
    background-color: #ef7777d5;
    border-radius: 50%;
    filter: blur(30px);
    top: 18em;
    left: 2em;
    z-index: 0;
}

footer {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

footer>p {
    font-size: 1em;
}

/*-------------------------------
                WORK
 ---------------------------------*/

h1 {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Object-sans", sans-serif;
    font-weight: 100;
    font-size: 4em;
    color: #D1CBC2;

}

h2 a {
    text-decoration: none;
    cursor: pointer;
    color: #25292C;
    font-size: 0.7em;
}

h3 {
    font-family: "Object-sans", sans-serif;
    font-weight: 100;
    font-size: 1em;
    color: #D1CBC2;
    line-height: 1.5;

}

p {
    font-family: "Object-sans", sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

.case {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #EFEDEA;
    flex-direction: column;
    margin: 3em 0;

}

.caseDes {
    flex-direction: column;
    justify-content: space-around;
    margin: 2.5em;
    width: 50%;
}


.casePic {
    width: 80%;
    object-fit: contain;
    margin-left: 1.5em;

}

/* --------------------------------
                CASES
 ---------------------------------*/

.caseCover {
    width: 100%;
    display: flex;
    justify-content: center;
}


.caseHero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    margin: 0 2em;
    max-width: 15em;
    font-family: "NeueWorld-Regular", sans-serif;
    font-weight: 100;
}

h5 {
    font-family: "Pangram", sans-serif;
    font-size: 1em;
}

h6 {
    margin: 1em 0;
    font-size: 1em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 3em;
}

.caseMeta>p {
    margin: 1em 0;
}

.caseMeta {
    margin: 2em 0;
}

.caseDescription {
    flex: 3;
    margin: 1em 0;
}

.caseDescription>h2 {
    font-size: 2.5em;
}

.caseDescription>p {
    margin-top: 1em;
}


/* --------------------------------
                ABOUT
 ---------------------------------*/
/* --------------------------------
                CONTACT
 ---------------------------------*/
/* --------------------------------
                RESPONSIVE
 ---------------------------------*/

@media screen and (min-width: 30em) {

    nav a,
    .launchTitle a {
        font-size: clamp(1rem, 2vw, 2rem);
    }

    .case {
        flex-direction: row;
    }

    .launchTitle>h2 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .caseDes {
        width: 20%;
        font-size: 1em;
    }

    .meKop {
        order: 1;
    }

    .casePic {
        margin-right: 5em;
        width: 30%;
    }

    section.hero {
        flex-direction: row;
        justify-content: center;
        padding: 0 10em;
    }

    .launchTitle {
        order: 2;
    }

    /* CASES */
    h4 {
        font-size: 1em;
        max-width: none;
    }

    .caseCover:nth-child(1) {
        width: 70%;
    }

    .wrapper {
        justify-content: center;
        max-width: 70vw;
    }

    .caseMeta {
        flex: 2;
    }

    .caseMeta>p {
        max-width: 10em;
    }

    .caseDescription {
        flex: 3;
        max-width: 30em;

    }
}

@media screen and (min-width: 48em) {
    .hero {
        display: flex;
        flex-direction: row;
        margin: 6em 0;
    }

    .launchTitle>h2 {
        font-size: 8em;
    }

    .meKop {
        width: 30%;
    }

    ul {
        flex-direction: row;
    }

    li {
        margin: 0 1em;
    }

    .caseDes {
        font-size: 2em;
    }


    /* CASES */
    h4 {
        font-size: 2em;
    }

    .wrapper {
        flex-direction: row;
        margin: 10em;
    }

    .caseMeta>p {
        font-size: 1em;
        max-width: 10em;
        font-family: "ObjectSans-Thin", sans-serif;
        font-weight: 100;
    }

    .caseDescription {
        flex: 4;
        font-size: 1.5em;
        max-width: 40em;
    }
}


/* hover effect */
.joannie {
    --deltax: 2;
    --deltay: 3;
    --scale: 0.25;
    --richting: 1;
    --rotatie: 2.5;
    --duur: 1.5;

    --width: 2.2;
    --height: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: calc(var(--width) * 0.8em);
    height: calc(var(--height) * 0.8em);
    left: calc(var(--posx) * 1px - var(--width) * 0.5em + var(--deltax) * -1em);

    font-size: 2.5em;
    /* border-radius: 50%; */
    z-index: 2;

    transform-origin: center 50%;
    animation: draai calc(var(--duur) * 1s) ease-out forwards,
        opneer calc(var(--duur) * 1s) forwards;
}

@keyframes draai {
    0% {
        transform: rotate(0turn) translatex(calc(var(--deltax) * 1em)) rotate(0turn);
    }

    100% {
        transform: rotate(calc(var(--richting) * 0.5turn)) translatex(calc(var(--deltax) * 1em)) rotate(calc(var(--rotatie) * 1turn));
    }
}

@keyframes opneer {
    0% {
        opacity: 1;
        top: calc(var(--posy) * 1px - (var(--width) + 0.125) * 1em);
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    }

    30% {
        top: calc(var(--posy) * 1px - (var(--width) + 0.125) * 1em - var(--deltay) * 1em);
        opacity: 1;
        animation-timing-function: ease-in;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}