* {
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    margin: 0;
    background-color: #FFF9F2;
}

@font-face {
    font-family: "Pangram";
    src: url("../fonts/Pangram/Pangram-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Neue World";
    font-weight: 800;
    src: url("../fonts/NeueWorld/NeueWorld-Ultrabold.otf") format("opentype");
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 2em;
}

nav ul a {
    font-family: "Neue World",
        sans-serif;
    font-weight: 700;
    color: #02497B;
    font-size: clamp(1.5rem, 4vw, 3rem);
}

h2 {
    font-family: "Neue World",
        sans-serif;
    font-weight: 700;
    font-size: clamp(1rem, 4vw, 3rem);
    color: #02497B;
}

section img {
    width: 100%;
}

section.hero {
    max-height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8em 1em;
}

section.hero h1 {
    display: flex;
    justify-content: center;
    font-family: "Pangram", sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 4vw, 3rem);
}

section {
    display: flex;
    padding: 3rem 3rem 0 3rem;
}

a {
    position: relative;
    text-decoration: none;
}

section h2 {
    position: absolute;
    top: 0;
    left: 5em;
}

section:nth-of-type(1) a img.joi-cover {
    position: absolute;
    left: -1em;
    top: 2em;
    width: 120%;
}

section:nth-of-type(3) a img.psycards-cover {
    position: absolute;
    left: -1em;
    top: 4em;
    width: 110%;
}

section:nth-of-type(4) a img.tesla-cover {
    position: absolute;
    right: 0;
    top: 2em;
    width: 110%;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2em;
    font-family: "Pangram",
        sans-serif;
}

/* hover effect */
.joannie {
    --deltax: 2;
    --deltay: 3;
    --scale: 0.25;
    --richting: 1;
    --rotatie: 2.5;
    --duur: 1.5;

    --width: 2.2;
    --height: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: calc(var(--width) * 0.8em);
    height: calc(var(--height) * 0.8em);
    left: calc(var(--posx) * 1px - var(--width) * 0.5em + var(--deltax) * -1em);

    font-size: 2.5em;
    /* border-radius: 50%; */
    z-index: 2;

    transform-origin: center 50%;
    animation: draai calc(var(--duur) * 1s) ease-out forwards,
        opneer calc(var(--duur) * 1s) forwards;
}

@keyframes draai {
    0% {
        transform: rotate(0turn) translatex(calc(var(--deltax) * 1em)) rotate(0turn);
    }

    100% {
        transform: rotate(calc(var(--richting) * 0.5turn)) translatex(calc(var(--deltax) * 1em)) rotate(calc(var(--rotatie) * 1turn));
    }
}

@keyframes opneer {
    0% {
        opacity: 1;
        top: calc(var(--posy) * 1px - (var(--width) + 0.125) * 1em);
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    }

    30% {
        top: calc(var(--posy) * 1px - (var(--width) + 0.125) * 1em - var(--deltay) * 1em);
        opacity: 1;
        animation-timing-function: ease-in;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}