* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "effra",
        sans-serif;
    font-size: 18px;
    line-height: 1.7;
    padding: 30px;
    color: #FFF;
    background: #686282;
}

header {
    height: 700px;
}

header>h2 {
    margin: 2em 0 0em 0;
    display: flex;
    justify-content: flex-start;
    color: #FFBFD6;
    font-size: 80px;
    opacity: 0.5;
}

h7 {
    display: flex;
    justify-content: flex-end;
    color: #FFBFD6;
    font-weight: 700;
    font-size: 30px;
    opacity: 0.5;
}

.shade>img {
    width: 50px;
    z-index: 1;
}

.image img {
    height: 62vh;
}

footer {
    text-align: center;
    margin-top: 5em;
}


#wrapper {
    height: 100%;
}

/* header */


.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 55px;
}


/* slogan */

.text-box {
    position: absolute;
    top: 55%;
    left: 52%;
    transform: translate(-50%, -50%);
}


h1 {
    animation-name: moveInTop;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;

}

/* colors */

.heading-primary-colored {
    color: #CBACFF;
}

.heading-primary-colored-2 {
    color: #FFBFD6;
}

.heading-primary-colored-3 {
    color: #FFF560;
}

.heading-primary-colored-4 {
    color: #C9FFE3;
}

/* animation */

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    80% {
        transform: translateY(3px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }


    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* button */

.btn,
.btn:link .btn:visited {
    text-decoration: none;
    padding: 15px 35px;
    margin: 2em 0;
    display: inline-block;
    border-radius: 50px;
    transition: all .2s;
    position: relative;
    font-size: 20px;
    font-weight: 500;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-4px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white {
    background-color: #C9FFE3;
    color: #686282;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
}

.btn-white::after {
    background-color: #C9FFE3;
}

.btn:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

/* about me */

.shade-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: transparent;
    z-index: 10;
}

.me:before {
    content: " ";
    background-color: rgba(221, 214, 255, 11%);
    position: absolute;
    top: 20%;
    left: -5%;
    width: 35em;
    height: 20em;
    z-index: -1;
}

.about-content {
    padding: 3em;
    margin-left: 4%;
    background-color: rgba(221, 214, 255, 11%);
    margin-right: 2.5em;
    width: 35em;
    height: 16em;
}

.mynameis {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 3em;
}

.me>img {
    width: 250px;
}

h4,
h5 {
    font-weight: 50;
}


/* section */

.projects {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.projects>h2 {
    justify-content: flex-start;
    margin: 1.5em 0 1em 0;
}

.project-list {
    display: grid;
    grid-template-columns: 1fr;
}


/* project-list */

section>h2 {
    display: flex;
    justify-content: flex-end;
    color: #CBACFF;
    font-size: 100px;
    opacity: 0.5;
}

.shade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 15em;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    background-color: rgba(221, 214, 255, 11%);
    display: flex;
    justify-content: center;
}



.shade:nth-child(odd)>.image:before {
    content: " ";
    background-color: rgba(221, 214, 255, 11%);
    position: absolute;
    top: -10%;
    left: 57.5%;
    width: 30em;
    height: 30em;
    z-index: -1;
}

.shade:nth-child(even)>.image:before {
    content: " ";
    background-color: rgba(221, 214, 255, 11%);
    position: absolute;
    top: -7%;
    right: 57.5%;
    width: 30em;
    height: 30em;
    z-index: -1;
}

.shade:nth-child(odd)>.project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    margin-right: 4em;

}

.shade:nth-child(even)>.project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    margin-left: 5em;
}

.shade:nth-child(odd)>.image,
.shade:nth-child(even)>.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.project-content>h3 {
    font-size: 4em;
    width: 4em;
    text-align: end;
}

.project-content>h6 {
    font-size: 4em;
    width: 4em;
    text-align: start;
}

.project-content>h4 {
    font-size: 1.5em;
    text-align: end;
    width: 10.5em;

}

.project-content>h5 {
    font-size: 1.5em;
    text-align: start;
    width: 10.5em;
}

.project-content>a {
    width: 6em;
    display: flex;
    justify-content: center;
}


/* hobbies */

.hobbies>h2 {
    justify-content: flex-start;
    margin: 1.5em 0 1em 0;
}

.container {
    margin-bottom: 10em;
}

/* woohah */

.woohah {
    height: 300px;
}

.goal {
    display: block;
    margin: 3em;
    width: 75%;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.9em;
}

.content {
    display: block;
    margin: 3em;
    width: 70%;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.9em;
}

/* reseek */

.reseek,
.foodtruck {
    color: #C9FFE3;
}

/* NBD Biblion */

.biblion {
    color: #FFBFD6;
}

section .flow {
    display: flex;
    align-items: flex-start;
    height: 80vh;
}

/* contact */

.details {
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 2em 2em 1em 2em;
}

.contactinfo {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 1em 4em;
}


/* responsive */

@media screen and (max-width:600px) {

    /* header */
    header .logo {
        height: 40px;
    }

    h1 {
        padding-top: 40px;
        width: 9em;
        font-size: 1.8em;
    }

    /* Hi. */

    .me {
        width: 220px;
        display: block;
        margin-left: 90px;
        margin-top: 30px;
    }

    .btn,
    .btn:link .btn:visited {
        margin: 2em 0 0 1.5em;
    }

    .me:before {
        display: none;
    }

    .about-content {
        position: relative;
        background-color: rgba(221, 214, 255, 0%);
        right: 15em;
        margin-top: 18em;
        margin-bottom: 3em;
        width: 20em;
        font-size: 20px;

    }

    /* projects */
    .shade {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 15em;
        position: relative;
    }

    .image {
        width: 80%;
        background-color: rgba(221, 214, 255, 11%);
        display: flex;
        justify-content: center;
    }

    .shade:nth-child(odd)>.image:before {
        content: " ";
        background-color: rgba(221, 214, 255, 13%);
        position: absolute;
        top: 50%;
        left: 8%;
        width: 23em;
        height: 26em;
        z-index: -1;
    }

    .shade:nth-child(even)>.image:before {
        content: " ";
        background-color: rgba(221, 214, 255, 13%);
        position: absolute;
        top: 2%;
        right: 25%;
        width: 23em;
        height: 23em;
        z-index: -1;
    }

    .shade:nth-child(odd)>.project-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        margin-right: 4em;

    }

    .shade:nth-child(even)>.project-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        margin-left: 5em;
    }

    .shade:nth-child(odd)>.image,
    .shade:nth-child(even)>.image {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}